:root {
  /* colour given in style-guide */
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

* {
  font-family: [Karla];
}

.flexBox-container {
  display: row;
  background-color: var(--LightGray);
  padding: 7%;
}

/* CSS for the topBox */
.topBox {
  background-color: rgb(255, 255, 255);
  padding: 3% 5% 3%;
}

.topBox-style {
  font-weight: 400;
}

#topBox-title {
  color: var(--Cyan);
}

#topBox-subtitle {
  color: var(--BrightYellow);
}

#topBox-body {
  color: rgb(173, 173, 173);
}

/* both of the box below */
.flexBox-sub-container {
  display: flex;
}

/* CSS for the bottomLeftBox */
.bottomLeftBox {
  background-color: var(--Cyan);
  font-weight: 400;
  padding: 1% 5% ;
  flex: 50%;
}

#bottomLeftBox-title, #subscribFEE, .subscribINFO {
  color: var(--LightGray);
}

#subscribFEE {
  font-size: 2rem;
}

#subscribPeriod {
  color: hsla(215, 100%, 94%, 0.63);
}

/* CSS for the bottomRightBox */
.bottomRightBox {
  background-color: rgb(98, 255, 182);
  padding: 1% 5% ;
  flex: 50%;
}



/* - Mobile: 375px */
@media (max-width: 375px) {
  .flexBox-sub-container {
    display: row;
    flex-wrap: wrap;
  }
}