:root {
  /* colour given in style-guide */
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

* {
  font-family: [Karla];
}

.flexBox-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--LightGray);
  padding: 7%;
}

.topBox {
  background-color: rgb(255, 255, 255);
  padding: 3% 5% 3%;
  flex: 100%;
}

.topBox-style {
  font-weight: 400;
}

#topBox-title {
  color: var(--Cyan);
}

#topBox-subtitle {
  color: var(--BrightYellow);
}

#topBox-body {
  color: rgb(173, 173, 173);
}
